/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_meme_gen";
    src: url("./flaticon_meme_gen.woff2?f76a3ef2a34dbd3666c9fda080d7dc1a") format("woff2"),
url("./flaticon_meme_gen.woff?f76a3ef2a34dbd3666c9fda080d7dc1a") format("woff"),
url("./flaticon_meme_gen.eot?f76a3ef2a34dbd3666c9fda080d7dc1a#iefix") format("embedded-opentype"),
url("./flaticon_meme_gen.ttf?f76a3ef2a34dbd3666c9fda080d7dc1a") format("truetype"),
url("./flaticon_meme_gen.svg?f76a3ef2a34dbd3666c9fda080d7dc1a#flaticon_meme_gen") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_meme_gen !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-align-left:before {
    content: "\f101";
}
.flaticon-format:before {
    content: "\f102";
}
.flaticon-align-right:before {
    content: "\f103";
}
.flaticon-minimize-sign:before {
    content: "\f104";
}
.flaticon-plus:before {
    content: "\f105";
}
.flaticon-bin:before {
    content: "\f106";
}
.flaticon-download:before {
    content: "\f107";
}
.flaticon-diskette:before {
    content: "\f108";
}
.flaticon-exchange:before {
    content: "\f109";
}
.flaticon-color-palette:before {
    content: "\f10a";
}
.flaticon-zoom:before {
    content: "\f10b";
}
.flaticon-zoom-out:before {
    content: "\f10c";
}
.flaticon-magnifying-glass:before {
    content: "\f10d";
}

