$flaticon_meme_gen-font: "flaticon_meme_gen";

@font-face {
    font-family: $flaticon_meme_gen-font;
    src: url("./flaticon_meme_gen.woff2?93472b42a67cd6b718522f4dc146cdb4") format("woff2"),
url("./flaticon_meme_gen.woff?93472b42a67cd6b718522f4dc146cdb4") format("woff"),
url("./flaticon_meme_gen.eot?93472b42a67cd6b718522f4dc146cdb4#iefix") format("embedded-opentype"),
url("./flaticon_meme_gen.ttf?93472b42a67cd6b718522f4dc146cdb4") format("truetype"),
url("./flaticon_meme_gen.svg?93472b42a67cd6b718522f4dc146cdb4#flaticon_meme_gen") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_meme_gen !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_meme_gen-map: (
    "align-left": "\f101",
    "format": "\f102",
    "align-right": "\f103",
    "minimize-sign": "\f104",
    "plus": "\f105",
    "bin": "\f106",
    "download": "\f107",
    "diskette": "\f108",
    "exchange": "\f109",
    "color-palette": "\f10a",
    "zoom": "\f10b",
    "zoom-out": "\f10c",
);

.flaticon-align-left:before {
    content: map-get($flaticon_meme_gen-map, "align-left");
}
.flaticon-format:before {
    content: map-get($flaticon_meme_gen-map, "format");
}
.flaticon-align-right:before {
    content: map-get($flaticon_meme_gen-map, "align-right");
}
.flaticon-minimize-sign:before {
    content: map-get($flaticon_meme_gen-map, "minimize-sign");
}
.flaticon-plus:before {
    content: map-get($flaticon_meme_gen-map, "plus");
}
.flaticon-bin:before {
    content: map-get($flaticon_meme_gen-map, "bin");
}
.flaticon-download:before {
    content: map-get($flaticon_meme_gen-map, "download");
}
.flaticon-diskette:before {
    content: map-get($flaticon_meme_gen-map, "diskette");
}
.flaticon-exchange:before {
    content: map-get($flaticon_meme_gen-map, "exchange");
}
.flaticon-color-palette:before {
    content: map-get($flaticon_meme_gen-map, "color-palette");
}
.flaticon-zoom:before {
    content: map-get($flaticon_meme_gen-map, "zoom");
}
.flaticon-zoom-out:before {
    content: map-get($flaticon_meme_gen-map, "zoom-out");
}
