* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-1);
    color: var(--primary-base);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.04em;
}

h1,
h2,
h3 {
    margin: 0;
    text-align: center;
    margin: .2em;
}

img {
    width: 100%;
    border-radius: 2em;
    cursor: pointer;
    padding: .3em;
    transition: 0.2s;
    
}



a, .logo {
    text-decoration: none;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}