* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-1);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
    text-align: center;
    margin: .2em;
  
}

img {
    width: 100%;
    border-radius: 2em;
    cursor: pointer;
    padding: .3em;
    transition: 0.2s ;

}



a {
    color: var(--primary1);
    text-decoration: none;
    cursor: pointer;
}