/* GRID HELPERS */

.grid {
    display: grid;
}

.grid.flow-column {
    grid-auto-flow: column;
}

.grid.align-center {
    align-items: center;
}

.grid.space-between {
    justify-content: space-between;
}

/* FLEX HELPERS */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

/* DISPLAY HELPERS */

.hidden {
    display: none;
}