
/* MAIN LAYOUT */

.main-layout {
    grid-template-rows: 1fr 2fr 1fr;
    max-height: 100vh;
    padding: 1em;
}

/* GALLERY LAYOUT */

.gallery-container{
    height: 10vh;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    row-gap: 10px;
    gap: 1em;
    padding: .5em;
}

/* MEME EDITOR LAYOUT */

/* .canvas-container{
    width: 80vw;
    background-color: rgb(244, 244, 244);
    border: 1px solid lightgray;
    margin: 10px auto;
} */

canvas {
    width: 80vw;
    display: block;
    background-color: white;
}