/* MAIN LAYOUT */

.gallery-nav,
.saved-nav {
    border: none;
    color: white;
    font-size: 1.2em;

}

/* GALLERY LAYOUT */
.saved-container {
    height: 23vh;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 10px;
    gap: 1em;
    padding: .5em;
}

/* MEME EDITOR LAYOUT */
canvas {
    border-radius: 2em;
    width: 100%;
    display: block;
    background-color: white;
}

.canvas-container {
    width: 100%;
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
}

.controls-container {
    grid-column: 4;
}