input[type="color"] {
    border: none;
    background: none;
    position: absolute;
    translate: 0 -20px;
    z-index: -1;
}

input[type="color"]::-webkit-color-swatch {
    display: none;
    border: none;
}

.edit-btn-container .btn {
    height: 3.75em;
    width: 3.75em;
}

.share-container .btn {
    border-radius: 0.8em;
    border: none;
    height: 4em;
}

.share {
    background-color: #4267B2;
    color: var(--primary-base);
}

.download {
    background-color: green;
    color: var(--primary-base);
}

.change-font {
    border-radius: .6em;
}

.hamburger-menu {
    height: 50px;
    width: 50px;
    right: 1em;
    position: relative;
    cursor: pointer;
    padding: 1rem;
}

.ham-bar {
    width: 70%;
    height: 4px;
    background-color: var(--primary-base);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.6s, opacity 0.8s, top 0.6s;
}

.bar-top {
    top: 25%;
}

.bar-bottom {
    top: 75%;
}

.hamburger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
}

.hamburger-menu.active .bar-mid {
    transform: translate(-50%, -50%) rotate(-315deg);
    opacity: 0;
}

.hamburger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(315deg);
    top: 50%;
}

i {
    display: flex;
    cursor: pointer;
    font-size: 2em;
    padding: 0.2em;
    border-radius: .2em;
    color: var(--primary-1);
    background-color: var(--primary-base);
    scale: 1.1;
    transition: transform 0.2s;
}

i:hover {
    background-color: var(--btn-hover);
    color: var(--primary-base);
    transform: scale(1.1);
}


i:active {
    background-color: var(--btn-active);
    transform: scale(1);
}

i.flaticon-bin:hover {
    background-color: red;
    color: var(--primary-base);
    transform: scale(1.1);
    transition: 0.2s;
}


i.flaticon-bin:active {
    background-color: rgb(117, 11, 11);
    transform: scale(1);
}

.box {
    position: relative;
    display: inline-block;
}

.box i {
    position: absolute;
    font-size: 1.5em;
    border-radius: 2em;
    color: var(--btn-hover);
    right: .5em;
    padding: 0.3em;
    top: 50%;
    transition: 0.2s;
    transform: translateY(-48%);
}

.box i {
    pointer-events: none;
}

.search {
    position: relative;
}

::placeholder {
    color: var(--primary-base);
}

.search input[type="search"],
.flexible-btn,
.upload-img-btn {
    border: none;
    border-color: var(--primary-base);
    background-color: var(--btn-hover);
    color: var(--primary-base);
    box-shadow: inset var(--btn-active) 1px 1px 4px 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-right: 30px;
    font-size: 1.2em;
    padding: 1em;
    border-radius: 2em;
    transition: 0.2s;
}

.search input[type="search"]:hover,
.upload-img-btn:hover,
.flexible-btn:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.search input[type="search"]:active,
.upload-img-btn:active,
.flexible-btn:active {
    transform: scale(1)
}

.upload-img-btn {
    position: relative;
}

.upload-img-btn i {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-48%);
    font-size: 1.2em;
    background-color: var(--btn-hover);
    color: var(--primary-base);
}

.upload-img-btn input[type="file"] {
    padding-right: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.flexible-btn {
    animation: rainbow 6s linear alternate infinite;
}

@keyframes rainbow {
    0% {
        background-color: #6666ff;
    }

    17% {
        background-color: #0099ff;
    }

    34% {
        background-color: #2ab12a;
    }

    51% {
        background-color: #cd3e86;
    }

    68% {
        background-color: #6666ff;
    }

    85% {
        background-color: indigo;
    }

    100% {
        background-color: purple;
    }
}