* {
    box-sizing: border-box;
}

.style-container {
    max-width: 100%;
    grid-template-areas:
        "a b c d e"
        "f f f g h";
    background-color: rgb(98, 107, 114);
    padding: 1em;
    gap: 1em;
    border-radius: 1em;
}

.edit-btn-container {
    display: flex;
    margin: 1em;
    gap: 1em;
}

.grow {
    grid-area: a;
}

.shrink {
    grid-area: b;
}

.align-left {
    grid-area: c;
}

.align-text-center {
    grid-area: d;
}

.align-right {
    grid-area: e;
}

.change-font {
    grid-area: f;
}

.save {
    grid-area: g;
}

.color-picker {
    grid-area: h;
}