/* MOBILE */

@media (width <=1280px) {
    h2 {
        font-size: 1.5em;
        margin: 0.1em;
    }

    .main-layout {
        display: flex;
        flex-direction: column;
        margin-left: .5em;
        margin-right: .5em;
        margin-top: .2em;
        margin-bottom: 0.8em;
    }

    .main-header .logo {
        font-size: 1.3em;
        margin-left: 1em;
    }

    .main-content {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .header-container {
        background: linear-gradient(168deg, rgba(34, 37, 46, 1) 0%, rgba(71, 195, 201, 1) 0%, rgba(65, 200, 130, 1) 100%);
        border-radius: 6em;
        height: 10vh;
    }

    .main-nav {
        position: fixed;
        top: 10.8vh;
        right: 0;
        height: 100dvh;
        background: rgba(57, 57, 57, 0.9);
        border-inline-start: 1px solid #ccc;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0.6s, box-shadow 0.6s;
    }

    .main-nav .main-nav-list {
        flex-direction: column;
        min-width: 100vw;
    }

    .main-nav .main-nav-list>li {
        border-bottom: 1px solid #ccc;
    }

    .main-nav .main-nav-list a {
        display: flex;
        justify-content: center;
        padding: 40px 10px;
        font-size: 1.1em;
    }

    .main-nav .main-nav-list a:hover {
        background-color: #1f1f1f;
    }

    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -4px 0px 20px rgb(0 0 0 / 30%);
    }

    .toggle-menu-btn span {
        appearance: none;
        outline: none;
        padding: 0;
        margin: 0;
        border: 0;
    }

    .toggle-menu-btn span::before,
    .toggle-menu-btn span::after,
    .toggle-menu-btn span {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--primary-base);
        border-radius: 9999px;
    }

    .toggle-menu-btn {
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
    }

    .editor-layout {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
        padding: 1em;
    }

    .controls-container {
        background-color: rgb(54, 54, 54);
        border-radius: 2em;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        padding: 0.5em;
        row-gap: 0.1em;
        width: 100%;
    }

    .text-input {
        display: flex;
        padding: 1em;
        font-size: 1em;
        border-radius: 2em;
        text-align: center;
    }

    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        gap: 1em;
        padding: .5em;
    }

    .saved-container {
        height: 23vh;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        gap: 1em;
        padding: .5em;
    }

    .share-container {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        margin: .5em;
        gap: 4em;
    }

    i {
        display: flex;
        cursor: pointer;
        font-size: 3em;
        padding: 0.2em;
        border-radius: .2em;
        color: var(--primary-1);
        background-color: var(--primary-base);
        scale: 1.1;
        transition: transform 0.2s;
    }

}


@media (width > 1280px) {
    .hamburger-menu {
        display: none;
    }

    .main-screen {
        display: none;
    }

    .header-container {
        height: 10vh;
        font-size: 1.2em;
    }

    .editor-layout {
        grid-template-columns:
            minmax(5em, 1fr) minmax(200px, 2fr) minmax(2em, 5em) minmax(200px, 2fr) minmax(5em, 1fr);
        margin-left: auto;
        margin-right: auto;
        max-height: 100vh;
        padding: .5em;
    }

    .controls-container {
        background-color: rgb(54, 54, 54);
        border-radius: 2em;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        row-gap: 1em;
        width: 100%;
    }

    .main-nav a {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 105px;
        padding: 1.2em;
        text-decoration: none;
    }

    .gallery-container {
        margin-top: 5em;
        grid-template-columns: repeat(5, minmax(200px, 350px));
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        gap: 1.5em;
        padding: .5em;
    }

    .main-header .logo {
        font-size: 2.5em;
        margin-left: 1em;
    }

    i {
        font-size: 2.5em;
        padding: 0.2em;
    }

    .share-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3em;
    }

    .text-input {
        display: flex;
        padding: 1em;
        font-size: 1em;
        border-radius: 2em;
        text-align: center;
    }
}

@media (width > 1650px) {
    /* i {
        font-size: 3em;
        padding: 0.2em;
    } */


    .text-input {
        display: flex;
        padding: 1em;
        font-size: 1.5em;
        border-radius: 2em;
        text-align: center;
    }
}