:root{
    /* --primary1: #22252C */
    --primary-base: #ffffff;
    --primary-1: #292929;
    --btn-hover: #399788;
    --btn-active: #286b60;
    
    --bar-width: 60px
    --bar-height: 8px
    --hamburger-gap: 6px
}